@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --main-color: rgb(250, 134, 114);
    --secondary-color: rgb(255, 90, 61);
    --dark-gray: #666;
    --light-gray: #ddd;
    --color-white: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.generic-section {
    min-height: 300px;
    padding: 40px 20px;
}

.bg-one {
    background-color: rgb(131, 131, 131);
}

.bg-two {
    background-color: rgb(85, 85, 85);
}

.bg-three {
    background-color: rgb(39, 39, 39);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.generic-section h2 {
    font-size: 32px;
}

.generic-section p {
    font-size: 24px;
}

footer {
    padding: 40px 20px;
    min-height: 200px;
    background-color: black;
    color: white;    
}

.footer-links-container a {
    display: block;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-company-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-company-container p {
    text-align: center;
}

.footer-company-container img {
    width: 200px;
    margin-bottom: 10px;
}

.footer-imgs-container a {
    width: 200px;
    margin-left: 10px;
}

.form-card {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #999;
}

.form-card form {
    display: flex;
    flex-direction: column;
}

.form-card form input {
    border: none;
    background-color: var(--color-white);
    height: 50px;
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;  
}

.form-card form input::placeholder {
    color: rgb(0, 0, 0);
}

.form-card form button {
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
}

.form-card form button:hover {
   background-color: var(--secondary-color);
}


